.img-input{
  display: inline-flex;
  padding:4rem
}
.img-input-wrapper{
  position: relative;
  display: inline-flex;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}
.img-input .img-input-wrapper .img-preview{
  height:24rem;
  width:48rem;
  max-width: 100%;
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  display: inline-block;
  object-fit:contain;
  opacity: 0;
  transition: opacity 1s;
}
.img-input .img-input-wrapper .img-input-action{
  display: inline-flex;
  justify-content: center;
  align-items: center;  
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  position: absolute;
  height:4rem; 
  width:4rem;
  border:none;
  border-radius: 50%; 
  background-color: #F5F5F5;
  cursor: pointer;
}
.img-input .img-input-wrapper .img-input-action-change{
  top:0;
  left:100%;
  transform: translate(-75%, -25%);
}
.img-input .img-input-wrapper .img-input-action-cancel{
  display: none;
  top:100%;
  left:100%;
  transform: translate(-75%, -75%);
}
.img-input .img-input-wrapper .img-input-action-remove{
  top:100%;
  left:100%;
  transform: translate(-75%, -75%);
}
.img-input .img-input-wrapper .img-input-file{
  display: none;
}